.img {
    max-width: 60px;
    max-height: 60px;
    min-height: 60px;
    object-fit: contain;
    opacity: 1;
}

.link {
    display:grid;
    color:#05FF00;
    text-decoration:none;
    align-content: center;
    justify-content: space-evenly;
    justify-items: center;
}

.link:hover{
    /* color:#FF00F5;
    text-decoration:none; */
}

.link:visited{
    color:#05FF00;
    text-decoration:none;
}

.link:active{
    color:#05FF00;
    text-decoration:none;
}

.socialLinkContainer {
}

.textHolder {
    font-weight: bolder;
}

.textHolder:hover {
    color:#FF00F5;
    text-decoration:none;
}